<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>POS API</title>
</head>
<body>
    <div class="container">
        <section class="container-body">
            <h1>qorypos API</h1>
            <div class="product api">
                <h2>Product Endpoint</h2>
                <span">
                    <p class="api-method get">
                        GET
                    </p>
                    <p>
                        https://qorypos-api.herokuapp.com/api/product <br>
                        https://qorypos-api.herokuapp.com/api/product/{id} <br>
                        https://qorypos-api.herokuapp.com/api/product?category={food|drink}
                    </p>
                    
                </span>
                <span>
                    <p class="api-method post">
                        POST
                    </p>
                    <p>https://qorypos-api.herokuapp.com/api/product</p>
                </span>
                <span>
                    <p class="api-method put">
                        PUT
                    </p>
                    <p>https://qorypos-api.herokuapp.com/api/product/update/{id}</p>
                </span>
                <span>
                    <p class="api-method delete">
                        DELETE
                    </p>
                    <p>https://qorypos-api.herokuapp.com/api/product/delete/{id}</p>
                </span>
            </div>
            <div class="queue api">
                <h2>Queue Endpoint</h2>
                <span>
                    <p class="api-method get">
                        GET
                    </p>
                    <p>
                        https://qorypos-api.herokuapp.com/api/queue <br>
                        https://qorypos-api.herokuapp.com/api/product?category={food|drink}
                    </p>
                </span>
                <span>
                    <p class="api-method post">
                        POST
                    </p>
                    <p>https://qorypos-api.herokuapp.com/api/queue</p>
                </span>
                <span>
                    <p class="api-method delete">
                        DELETE
                    </p>
                    <p>
                        https://qorypos-api.herokuapp.com/api/queue/delete/{id} <br>
                        https://qorypos-api.herokuapp.com/api/queue/deleteAllData (delete all data)
                    </p>
                </span>
            </div>
            <div class="activity api">
                <h2>Activity Endpoint</h2>
                <span>
                    <p class="api-method get" >
                        GET
                    </p>
                    <p>https://qorypos-api.herokuapp.com/api/activity</p>
                </span>
                <span>
                    <p class="api-method post">
                        POST
                    </p>
                    <p>https://qorypos-api.herokuapp.com/api/activity</p>
                </span>
                <span>
                    <p class="api-method delete">
                        DELETE
                    </p>
                    <p>
                        https://qorypos-api.herokuapp.com/api/activity/delete/{id}<br>
                        https://qorypos-api.herokuapp.com/api/activity/deleteAll (delete all data)
                    </p>
                </span>
            </div>
        </section>
        <footer style="margin-top: 40px; text-align: center; ">
            <span style="opacity:50%;">Built with love by hendrialqory</span>
        </footer>
    </div>
</body>
</html>